.header{
    text-align: center;
}
h1{
    color: blue;
    font-weight: 700;
}
input{
    padding: 15px 10px;
    width: 50vh;
    border: solid gray 1px;  
    border-radius: 12px;
}
.all{
    border-bottom: solid grey 1px;
    display: flex;
    align-items: center;    
}
.each{
    padding: 5px 10px;
    transition: color 0.7s;
    cursor: pointer;
}
.each:hover{
    color: rgb(48, 48, 223);
}
.row{
    display: flex;
    align-items: center;  
    margin-top: 10px; 
}
.card{
    margin: 10px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
    border: solid gray 1px;
    border-radius: 12px;
    width: 60vh;
}
.card:hover{
    transform: translateY(-10px);  
}
.footer{
    color: rgb(116, 8, 8);
    background-color: rgb(236, 128, 128);
    padding: 10px 20px;
    border-radius: 12px;
    border-left: solid red 10px;    
}
.id{
    color: rgb(5, 5, 124);
    background-color: rgb(66, 66, 233);
    padding: 5px 10px;
    border-radius: 5px;
    width: 90px;
}
body{
    padding: 30px;
}
img{
    height: 50px;
    width: 50px;
}
.search{
    position: relative;
    right: 60px;
    top: 15px;
    height: 40px;
    width: 40px;
}
