.header{
    text-align: center;
}
h1{
    color: blue;
    font-weight: 700;
}
input{
    padding: 15px 10px;
    width: 50vh;
    border: solid gray 1px;  
    border-radius: 12px;
}
.all{
    border-bottom: solid grey 1px;
    display: flex;
    align-items: center;
    
}
.each{
    padding: 5px 10px;
    transition: color 0.7s;
    cursor: pointer;
}
.each:hover{
    color: rgb(48, 48, 223);
}
.row{
    display: flex;
    align-items: center;  
    margin-top: 10px; 
}
.card{
    margin: 10px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
    border: solid gray 1px;
    border-radius: 12px;
    width: 60vh;
}
.card:hover{
    transform: translateY(-10px);  
}
.footer{
    color: rgb(116, 8, 8);
    background-color: rgb(236, 128, 128);
    padding: 10px 20px;
    border-radius: 12px;
    border-left: solid red 10px;
    
}
.id{
    color: rgb(5, 5, 124);
    background-color: rgb(66, 66, 233);
    padding: 5px 10px;
    border-radius: 5px;
    width: 90px;
}
body{
    padding: 30px;
}
img{
    height: 50px;
    width: 50px;
}
.search{
    position: relative;
    right: 60px;
    top: 15px;
    height: 40px;
    width: 40px;
}
.button-28 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    position: relative;
    left: -70vh;
    top: 20px;
  }
  
  .button-28:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
  